<%= simple_form_for(@timesheet) do |f| %>
  <%= f.error_notification %>

	<% if !current_user.team_id.blank? %>
   <div class="field">
   	<div class="control">
   		<%= f.input :date, input_html: { class: "input" }, wrapper: false, label_html: { class: "label"} %>
   	</div>
   </div>
   <div class="field">
   	<div class="control">
   		<%= f.input :hours, input_html: { class: "input" }, wrapper: false, label_html: { class: "label"} %>
     </div>
   </div>

   <div class="field">
   	<div class="control">
   		<%= f.button :submit, class: "button is-link" %>
   	</div>
   </div>
<% end %>
<% end %>
