<p id="notice"><%= notice %></p>

<section class="section">
<div class="container">
		<div class="columns is-centered">
			<div class="column is-9">
				<h1 class="title is-2">Search results</h1>
  <div class="content">
  <% @timesheets.each do |timesheet| %>
				<div class="content border-bottom pb4">
					<p class="title is-6">
					<h5 class="subtitle is-6">Date, hour, user and project name</h5>
					<%= timesheet.date %>
					<%= timesheet.hours %>
					<%= timesheet.user.name %>
					<%#= timesheet.project.name %>
					<div class="level-right">
                    <%= link_to 'Edit', edit_timesheet_path(timesheet), class:'button' %>
					<%= link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' }, class:'button is-danger is-outlined' %>
					</div>
					</p>
				</div>
			<% end %>
      <%= link_to 'Back', root_path, class: 'button' %>
      </div>
      </div>
      </div>
      </div>
      </section>

