<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @timesheet.date %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @timesheet.hours %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
